.hero {
  display: flex;
  align-items: center;
  padding: 3rem;
  max-width: 1140px;
  margin: 0 auto;
}

.hero__heading {
  font-size: 3rem;
  font-weight: 500;
}

.hero__subheading {
  font-size: 1.5rem;
  font-weight: 400;
}
