/* colors */
:root {
  --primary_background: #454545;
  --secondary_background: #f0f0f0;
  --tertiary_background: #44689b;
}

/* reset styles */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* utility classes */
.ml-1 {
  margin-left: 0.5rem;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.pointer {
  cursor: pointer;
}

/* main styles */
.side_nav {
  background-color: var(--secondary_background);
  padding: 0.75rem;
  min-height: calc(100vh - 119.5px);
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-around;
}

main {
  flex-grow: 1;
}
.album__hero {
  color: white;
  background-color: var(--primary_background);
  padding: 2rem;
  column-gap: 2rem;
}

.albumTitle__container {
  position: relative;
}

.albumTitle__container h1 {
  margin-bottom: 0.75rem;
}

.albumTitle__container--bottom {
  position: absolute;
  bottom: 0;
  min-width: 30ch;
}

.albumTitle__bottomItem {
  align-items: center;
}

.album__content {
  color: black;
  padding: 0.75rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.75rem;
}

tr:nth-child(even) {
  background-color: var(--secondary_background);
}

a {
  padding: 0.2rem;
  border: 1px solid black;
  text-decoration: none;
}

.album__playback {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--tertiary_background);
  color: white;
  width: 100%;
  padding: 0.5rem;
}

.album__art {
  column-gap: 1rem;
}

.album__actionButtons {
  column-gap: 8rem;
}

.album__actionButtons .las {
  font-weight: 600;
}
