.linkDisplay__container {
  border: 1px solid red;
  padding: 1.5rem;
  border-radius: 8px;
}

.linkDisplay__wrapper {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.linkDisplay__button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-left: 1rem;
  cursor: pointer;
}
